<h1>Update Owner</h1>
<form method="POST" action="/owners/<%= @owner.id %>/edit">
  <input name="_method" value="patch" type="hidden">

  <label>Name:</label>
  <input type="text" name="owner[name]">
  <br>

  <label>Pets:</label>
  <% if @owner.pets != nil %>
    <% @pets.each do |pet| %>
      <input type="checkbox" name="owner[pets_id][]" id="<%= pet.id%>" value="<%= pet.id %>" <%= 'checked' if @owner.pets.include?(pet) %>><%= pet.name %></input>
    <% end %>
  <% end %>
  <br>

  <label>New Pet:</label>
  <input type="text" name="pet[name]">
  <input type="submit" value="Update Owner">
</form>
